<!--
The login functionality is backed by Kinvey. For this, you need to configure the Kinvey App.
Open the file 'app/app.config.ts' and update your Kinvey app's appKey and appSecret.
-->
<Page backgroundColor="#f3f3f3" loaded="pageLoaded"  xmlns="http://www.nativescript.org/tns.xsd">
<ActionBar title="E-Manar" class="action-bar" android:style="padding-top:20" style="background :#0C2633"
    flat="true">
    <ActionItem ios.position="right" (tap)="isAr_Fr(0)">
        <StackLayout>
            <Label #textFr text="Fr" class="iconLang" style="color: darkblue"></Label>
        </StackLayout>
    </ActionItem>
   <ActionItem ios.position="right" (tap)="isAr_Fr(1)">
        <StackLayout>
            <Label #textAr text="Ar" class="iconLang" style="margin-right: 25" ></Label>
        </StackLayout>
    </ActionItem>
   
</ActionBar>
<StackLayout   class="StackLayoutContainer" shadow = "2" >
        <!--row 1-->
        <Label  class="label"  *ngIf="(isArFr == 0)" 
            [text]="dictionayjson[isArFr].nom+': '+test?.NomEtu+' .'"></Label>

        <Label class="label" class="label"  *ngIf="(isArFr == 1)" 
            [text]="dictionayjson[isArFr].nom+': '+test?.NomEtuArb+' .'"></Label>
        <!--row 2-->
        <Label class="label"  *ngIf="(isArFr == 0)" 
            [text]="dictionayjson[isArFr].prenom+': '+test?.PrenomEtu+' .'"></Label>

        <Label  class="label" class="label"  *ngIf="(isArFr == 1)" 
            [text]="dictionayjson[isArFr].prenom+': '+test?.PrenomEtuArb+' .'"></Label>
        <!--row 3-->
        <Label class="label"
            [text]="dictionayjson[isArFr].datePassation+': '+(myDate | date:'yyyy-MM-dd')+' .'"></Label>
        <!--row 4--> 
        <Label  class="label"
            [text]="dictionayjson[isArFr].duree+': '+(test?.test_duree)+' min.'"></Label>
        <!--row 5--> 
            <label #btnComTest
            class="labelPasser"
            *ngIf="!(test_item?.termine == '1')" 
            [text]="'&#xa;&#xa;&#xa;'+dictionayjson[isArFr].commencertest" 
            (tap)="onPasse()"
           ></label>
    
    </StackLayout>
</Page>