.iconLang{
    /*color:darkblue;*/
    background-color: #3DB7D8;
    border-radius: 40%;
    padding: 5 8;
    margin: 0 5;
}

.labelPasser{
    text-align: center;
    color: white;
    width: 160;
    border-radius:3;
    padding: 5 0;
    background-color: #3DB7D8;
     font-size: 15;
     text-align: center;
    margin-top: 50;
}
.label{
    font-size: 15;
    color: #333;
    text-align: center;
    padding-left: 5;
    margin-top: 15;
    

}

.StackLayoutContainer{
    margin: 15;
    height:270;
    vertical-align: top;

}