*{
    padding: 0;
    margin: 0;
}

.iconLang{
    /*color:darkblue;*/
    background-color: #3DB7D8;
    border-radius: 40%;
    padding: 5 8;
    margin: 0 5;
}

.gridPrincipale{
    background-color: #fff;
    color: #4d4d4d;
    margin: 8 5 0;
    height: auto;
    border-radius:5;
    box-shadow: 3 3 12 #999;

}

.title{
    vertical-align: center;
}

.label{
    font-size: 12;
    color: darkblue;
    vertical-align: center;
    padding-left: 5


}

.daterealisation{
    text-align: right;
    padding-left: 0;
    font-size: 14;

}

.labelScore{
    text-align: right;
    color: darkblue;
}

.stackLayoutScore{
    top: 5;
    
}


.labelD{
    border-style: solid ;
    border-color: #bbbbbb;
    border-width: 2;
    border-radius: 50%;
    font-size:20;
    margin-top: 7;
    width: 35;
    height: 35;
    padding: 2;
}